@model ContactsManager.Models.Contacto
@{
    ViewBag.Title = "adicionado";
}

<h2>adicionado!</h2>
<p>O seu registo foi adicionado à lista telefonica com os seguintes dados: </p>
<p>@Model.Nome</p>
<p>@Model.Telefone</p>
<p>@Model.Email</p>

