
@{
    ViewBag.Title = "erro";
}

<h2>Erro ao tentar adicionar um contacto, por favor, verifique se: </h2>
<p>O nome tem mais de 5 caracteres</p>
<p>O contacto tem 9 numeros e se não contem letras.</p>
<p>Se o seu email está correcto</p>
<h4>@Html.ActionLink("Voltar a adicionar um contacto", "AdicionarContacto", "Home")</h4>

