@model IEnumerable<ContactsManager.Models.Contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de contactos : </h2>




<table width="467" border="1px">
    <thead>
        <tr>
           
            <th>NOME </th>
           
        </tr>
    </thead>
    <tbody>
        @{int i = 0;
        foreach (ContactsManager.Models.Contacto item in Model)
        {
           

        <tr>
            
            <td>@item.Nome 
                            <form action="~/Home/Index" method="post"> 
                                <button type="submit"  value="@item.ID=i">Eliminar</button>
                                
                            </form>
            </td>
            
            
        </tr>
        i++;
        }
            }
    </tbody>
</table>


