@model ContactsManager.Models.listatelefonica
@{
    ViewBag.Title = "Index";
}

<h2>Lista de contactos : </h2>


Pressione @Html.ActionLink("aqui", "AdicionarContacto", "Home") para adicionar contactos.


